<div class="loader-container" *ngIf="displayModal">
  <div class="spinner-border text-light spinner-custom" role="status"></div>
  <h3>Loading</h3>
</div>

<div class="login" >
  <div>
    <h1>LOGIN</h1>
    <div class="form">
      <div class="container">
        <form #signinForm="ngForm" (submit)="handleLogin()" ngbNativeValidate>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" placeholder="Enter Email" name="email"
            (keyup)="validateEmail();enableSigninBtn();"
            (blur)="enableSigninBtn();"
            required [(ngModel)]="email"
            />
            <small *ngIf="!flagEmail" class="error">Invalid Email</small>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">PASSWORD</label>
            <input class="form-control" type="password"
              placeholder="Enter Password" name="password"
              (keyup)="enableSigninBtn();" (blur)="enableSigninBtn();"
              required [(ngModel)]="password"
            />
          </div>

          <div class="clearfix formbtn">
            <button type="submit" class="btn btn-primary" [disabled]="!this.signinBtn">
              LOGIN
            </button>

            <button type="reset" class="btn btn-warning">
              CANCEL
            </button>
          </div>
        </form>

        <hr />

        <div class="row social">
          <span class="loginwith">Sign in with</span>
          <div id="g_id_onload"
              data-client_id="302919220885-m5gdbbjdfj6jjd1i47o6asaqmp9se5hu.apps.googleusercontent.com"
              data-context="signin"
              data-ux_mode="popup"
              data-login_uri="https://flight-info-smonter-bec43e8ec87e.herokuapp.com/users/googlelogin"
              data-auto_select="true"
              data-itp_support="true">
          </div>

          <div class="g_id_signin"
              data-type="standard"
              data-shape="pill"
              data-theme="filled_blue"
              data-text="signin_with"
              data-size="medium"
              data-logo_alignment="left"
              data-width="160">
          </div>

          <div class="viaLink">
            <button mat-raise-button type="submit" class="btn btn-primary" (click)="showDialog()" >
              Via Encrypted Link
            </button>
          </div>
          <div class="viaLink">
            <a *ngIf="message.length" [href]="encryptedLink" >Click here!</a>
            <div *ngIf="message.length">{{message}}</div>
          </div>

      </div>
    </div>
  </div>
</div>
