h1 {
  font-weight: bolder;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  margin: 0 5px 20px 0;
}
input[type="text"], textarea,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 0px 0 18px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="date"],
input[type="time"] {
  padding: 12px 20px;
  margin: 0px 0 18px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
}
textarea {
  height: 200px;
}
.label {
  font-size: 18px; font-weight: bold; color: black;
}
.card-custom {
  width: 60%;
  margin: 0 auto;
}
.add-flight {
  padding-top: 3em;
  padding-bottom: 5em;
  width: 60%;
  margin: 0 auto;
}
.add-flight > h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 28px;
  font-weight: bolder;
}
.form {
  border: 0px solid #ccc;
  padding-top: 20px
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.formbtn {
  text-align: center;
  margin-left: 46%;
  transform: translateX(-30%);
}
.add-flight > h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
}
.form-label {
  float: left;
  font-weight: bold;
}
.datetime{
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width:450px){
  .datetime{
    flex-direction: column;
  }
  .card-custom {
    width: 100%;
    margin: 0 auto;
  }
}
