.signup {
  padding-top: 5em;
  padding-bottom: 5em;
  width: 40%;
  margin: 0 auto;
}
.signup > h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 28px;
  font-weight: bolder;
}
.form {
  border: 0px solid #ccc;
  padding-top: 20px
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.formbtn {
  text-align: center;
  margin-left: 46%;
  transform: translateX(-30%);
}
.signup {
  padding-top: 5em;
  padding-bottom: 5em;
  width: 40%;
  margin: 0 auto;
}
.signup > div {
  margin: auto;
  background: #fff;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0px 0px 10px #ccc;
  text-align: center;
}
.signup > div h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 28px;
  font-weight: bolder;
}
.form-label {
  float: left;
  font-weight: bold;
}


