<div class="all">
  <div class="container2 box-custom">
    <img
      src="assets/images/window1.jpg"
      alt="Avatar"
      class="image1"
      style="height: 300px; border-radius: 10px" />
    <div class="overlay">
      <div class="text">
        Advanced-Flight features<br />
        <p>
          like having Flight Reservation,<br />
          Modification, Flight Booking <br />
          Quotation, Flight API <br />
          Integration and more.
        </p>
      </div>
    </div>
  </div>

  <div class="container2 box-custom">
    <img
      src="assets/images/seat.jpg"
      alt="Avatar"
      class="image2"
      style="height: 300px; border-radius: 10px" />
    <div class="overlay2">
      <div class="text">
        Passenger reservations and <br />
        records of flight ticket bookings <br />
        with dynamic packages, transfers <br />
        and more to improve <br/>
        customer experience
      </div>
    </div>
  </div>

  <div class="container2 box-custom">
    <img
      src="assets/images/piolet.jpg"
      alt="Avatar"
      class="image2"
      style="height: 300px; border-radius: 10px"
    />
    <div class="overlay2">
      <div class="text">
        Inventory management solutions,<br />
        Flight Details and Incorporate <br />
        flight schedules, flight fares,<br />
        fare tariffs, seat availability is <br />
        Well Managed and Depolyed
      </div>
    </div>
  </div>
</div>
